html {
    font-size: 13px !important;
}

@media (max-width: 991px){
    html {
        font-size: 12px !important;
    }
}

.fs-7{
    font-size: 0.95rem !important;
}

.app-body header{
    background-color: #F9F9F9;
}

.dropdown .btn.dropdown-bs-toggle {
    background-color: #FFFFFF;
}

.dropdown .btn.dropdown-bs-toggle:focus {
    background-color: #F9F9F9;
}

@media (min-width: 1200px) {
    #user-followers-container .row {
        --bs-gutter-x: 2.25rem;
        --bs-gutter-y: 2.25rem;
    }

    #user-followers-container .row {
        margin-bottom: 2.25rem;
    }
}

#user-followers-container .row .card .card-body {
    padding: 2.25rem;
}

#user-followers-container .row .card .card-body>img {
    margin-bottom: 1.25rem;
}

#user-followers-container .row .card .card-body>div:first-of-type>span:first-child {
    color: #252F4A;
    font-size: 1.25rem;
}

#user-followers-container .row .card .card-body>div:first-of-type>span:last-child {
    color: #99A1B7;
}

#user-followers-container .row .card .card-body>div:last-of-type {
    margin-bottom: 1.25rem;
}

#user-followers-container .row .card .card-body>div:last-of-type>div {
    margin-bottom: .75rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    min-width: 90px;
    border-style: dashed !important;
    border-radius: .475rem;
}

#user-followers-container .row .card .card-body>div:last-of-type>div>span:first-child {
    color: #4B5675;
    font-size: 1.075rem;
}

#user-followers-container .row .card .card-body>div:last-of-type>div>span:last-child {
    color: #99A1B7;
}