html {
    font-size: 13px !important;
}

@media (max-width: 991px){
    html {
        font-size: 12px !important;
    }
}

.fs-7{
    font-size: 0.95rem !important;
}

.app-body header{
    background-color: #F9F9F9;
}

.dropdown .btn.dropdown-bs-toggle {
    background-color: #FFFFFF;
}

.dropdown .btn.dropdown-bs-toggle:focus {
    background-color: #F9F9F9;
}

@media (min-width: 1200px) {
    #user-followers-container .row {
        --bs-gutter-x: 2.25rem;
        --bs-gutter-y: 2.25rem;
    }

    #user-followers-container .row {
        margin-bottom: 2.25rem;
    }
}

#user-followers-container .row .card .card-body {
    padding: 2.25rem;
}

#user-followers-container .row .card .card-body>.pro-pic-container {
    margin-bottom: 1.25rem;
}

/*Profile without profile pics*/
#user-followers-container .row .card .card-body>.pro-pic-container>div:first-child{
    height: 65px;
    width: 65px;
    font-size: calc(1.325rem + .9vw);
}

#user-followers-container .row .card .card-body>.pro-pic-container>.online-indicator {
    height: 15px;
    width: 15px;
    top: 75%;
    left: 75%;
}

#user-followers-container .row .card .card-body>div:nth-of-type(2)>span:first-child {
    color: #252F4A;
    font-size: 1.25rem;
}

#user-followers-container .row .card .card-body>div:nth-of-type(2)>span:first-child:hover {
    cursor: pointer;
    color: #1B84FF;
}

#user-followers-container .row .card .card-body>div:nth-of-type(2)>span:last-child {
    color: #99A1B7;
}

#user-followers-container .row .card .card-body>div:last-of-type {
    margin-bottom: 1.25rem;
}

#user-followers-container .row .card .card-body>div:last-of-type>div {
    margin-bottom: .75rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    min-width: 90px;
    border-style: dashed !important;
    border-radius: .475rem;
}

#user-followers-container .row .card .card-body>div:last-of-type>div>span:first-child {
    color: #4B5675;
    font-size: 1.075rem;
}

#user-followers-container .row .card .card-body>div:last-of-type>div>span:last-child {
    color: #99A1B7;
}

#user-followers-container .row .card .card-body>button[data-follow-status="following"] {
    background-color: #1B84FF10;
    color: #1B84FF;
}

#user-followers-container .row .card .card-body>button[data-follow-status="following"]:hover {
    background-color : #1B84FF;
    color: #FFFFFF;
}

#user-followers-container .row .card .card-body>button[data-follow-status="follow"] {
    background-color: #F1F1F4;
    color: #252F4A;
}

#user-followers-container .row .card .card-body>button[data-follow-status="follow"]:hover {
    background-color : #99A1B750;
}

#user-followers-container .row .card .card-body>button[data-follow-status="f-loading"] {
    pointer-events: none;
    background-color: #F1F1F4;
    color: #252F4A75;
}

#user-followers-container .row .card .card-body>button[data-follow-status="fg-loading"] {
    pointer-events: none;
    background-color: #1B84FF10;
    color: #1B84FF75;
}

#user-followers-container .row .card .card-body>button>i.btn-icon {
    font-size: 1.5rem;
    padding-right: 0.35rem;
}

#user-followers-container .row .card .card-body>button[data-follow-status="f-loading"], #user-followers-container .row .card .card-body>button[data-follow-status="fg-loading"] {
    padding: calc(.55rem + 1px) calc(1rem + 1px);
}

#user-followers-container>div:last-child>button {
    padding: calc(.775rem + 1px) calc(1.5rem + 1px);
}